* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #25362e;
    font-family: "Rubik", "helvetica", "sans-serif";
    font-optical-sizing: auto;
    font-style: normal;
}

/* header */

.navbar {
    height: 100px;
    background-color: #042f1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 1.2px solid #25362e;
}

.navbar a {
    text-decoration: none;
    font-family: "Arial", "Helvetica", "sans-serif";
    color: #fff6f6;
    font-weight: 400;
    margin-top: 20px;
}

#logo {
    width: 320px;
    text-align: center;
    margin-top: 14px;
    background-image: url("im.gif");
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
    display: flex;
    align-items: center;
    color: #fff6f6;
    font-family: "rubik";
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: 500;
}

#contact {
    height: 38px;
    width: 110px;
    background-color: #d4ed6d;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    color: #02110a;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    margin-right: 100px;
}

/* container */

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #25362e;
    margin-top: 80px;
    font-size: 50px;
    border-bottom: 0.5px solid #25362e;
}

#quiz {
    margin-top: 50px;
}

#question
{
    color: brown;
    font-size: 30px;
    font-weight: 600;
}

#options {
    margin-top: 10px;
    padding-left: 110px;
    font-size: 20px;
    text-align: left;
}

#options label{
    padding: 10px;
}

button {
    margin: 10px;
    height: 40px;
    width: 100px;
}

#result
{
    margin: 30px;
    font-size: 20px;
    color: rgb(215 88 167);
}
