body {
    font-family: sans-serif;
    margin: 20px;
    /* background-color: red; */
}

h1 {
    text-align: center;
    font-size: 2em;
}

section {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
}

#activity-breakdown tbody tr:nth-child(even) {
    background-color: #eee;
}
